/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100%;
  background: #fff;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.521);
}
section{
   margin: 5rem 2rem 2rem 2rem;
   padding: 2rem;
}
.text{
   display: flex;
   margin-left: 2.5rem;
   align-items: center;
}
.section{
   margin-left: 16rem;
   padding: 1.5rem 1.5rem 1.5rem 0;
}
.search{
   width: 35vw;
   padding-top: 0;
}
.input:hover{
   outline-color: #AC141A;
}
nav .logo,
.logo2 {
  display: flex;
  align-items: center;
  margin: 0 24px;
}
nav .logo3 {
  margin-left: 10px;
  padding-left: 5px;
}
nav .logo2 {
  margin-right: 3.5rem;
}
.logo,
.logo2,
.menu-icon {
  color: #333;
  font-size: 28px;
  margin-right: 14px;
  cursor: pointer;
}
.l2 {
  font-size: 18px;
}
.l3 {
  margin-right: 1rem;
  margin-left: 1rem;
}
.menu-icon2 {
  margin-left: auto;
}
.logo3 {
  position: relative;
  left: -4%;
}
.logo,
.logo2,
.logo-name2 {
  color: #333;
  font-size: 22px;
  font-weight: 500;
}
.logo-name1 {
  margin-right: 2rem;
  font-size: 19px;
  color: #707070;
}
.logo2 {
  margin-left: auto;
}
.side-name {
  margin-top: 1rem;
}
.side-name h4 {
  margin-left: 20px;
}
.side-name p {
  font-size: 14px;
  color: #707070;
  margin-left: 15px;
}
nav .sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 260px;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}
#log-out {
  margin-top: 4.5rem;
}
.crown {
  margin-left: 15px;
  margin-right: 7px;
  font-size:18px;
  color: #707070;
}
.arrow{
   font-size: 14px;
}
nav.open .sidebar {
  left: 0;
}
.sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}
.sidebar-content .list {
  list-style: none;
}
.list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}
.lists .nav-link:hover {
  background-color: #AC141A;
}
.nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #707070;
}
.nav-link .link {
  font-size: 16px;
  color: #707070;
  font-weight: 400;
  text-transform: capitalize;
}
.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
  color: #fff;
}
.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}
nav.open ~ .overlay {
  opacity: 1;
  left: 260px;
  pointer-events: auto;
}
#menu-btn {
  display: none;
}
@media (max-width: 1000px) {
  #log-out {
    margin-top: 2rem;
  }
}
@media (max-width: 720px) {
  nav .logo2 {
    margin-right: 1.5rem;
  }
  #menu-btn {
    display: block;
  }
  .logo2,
  .logo-name1 {
    margin-right: 12rem;
    font-size: 19px;
  }
  .l3 {
    display: none;
  }
  #dropdownAvatar {
    display: none;
  }
  .avatar {
    cursor: auto;
  }
  .overlay{
   display: flex;
  }
}
@media (max-width: 560px) {
  .logo2,
  .logo-name1 {
    margin-right: 8rem;
  }
}
@media (max-width: 428px) {
  .logo2,
  .logo-name1 {
    margin-right: 6rem;
  }
  nav .logo2 {
    margin-right: 1.5rem;
  }
}
